*{
  margin: 0;
  padding: 0;

}

.App {
  text-align: center;
  padding: 35px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul{
  list-style-type: none;
}
.candidate{
  width: 200px;
  border:1px solid black;
  margin: 2px;
  padding: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* line-height: 50px; */


}
.list{
  width: 220px;
  margin: 50px auto;
}
.tally{
  border: 1px solid black;
  border-radius: 30px;
  padding:1px 5px;
  vertical-align: middle;
  
}
button{
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 25px;
  color: darkgreen;
  vertical-align: top;
  padding: 0 -10px 0 0;
  
}
